# OIDC Configuration
VITE_OIDC_AUTHORITY=https://sso.garri.ovh/
VITE_OIDC_CLIENT_ID=312365402212597763
VITE_OIDC_CLIENT_SECRET=your-client-secret
VITE_OIDC_REDIRECT_URI=/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=/
VITE_OIDC_SILENT_REDIRECT_URI=/silent-renew.html
VITE_OIDC_RESPONSE_TYPE=code
VITE_OIDC_SCOPE=openid profile email
VITE_OIDC_AUTOMATIC_SILENT_RENEW=true
VITE_OIDC_LOAD_USER_INFO=true

# API Configuration
VITE_API_URL=/api
VITE_BACKEND_URL=http://localhost:4000
